<div class="container">
	<div>
		<div class="page-header">
			<h1>About</h1>
		</div>
		
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">About</li>
		</ol>
		
		<div class="panel panel-default">
			<div class="panel-heading text-right">
				<a class="btn btn-warning btn-sm" href="/tasks/trash" role="button"><span class="glyphicon glyphicon-trash"></span> &nbsp;Trash</a>
				&nbsp;
				<a class="btn btn-success btn-sm" href="/task/add" role="button"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp;New task</a>
			</div>
			<div class="panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus purus nulla, a venenatis metus vehicula quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in enim nec tellus tincidunt elementum. Sed massa metus, scelerisque vitae ipsum nec, pellentesque rhoncus arcu. Donec euismod orci a sapien rhoncus semper. Sed posuere blandit lectus id fringilla. Nullam in pellentesque nisi, ut faucibus erat. Nulla facilisi. Fusce ornare enim et nunc fringilla auctor. Nunc vestibulum sed metus condimentum rhoncus. Phasellus vitae lacinia metus. Fusce velit leo, commodo et nunc quis, tincidunt ullamcorper ipsum. Ut eget dapibus felis.</p>
			</div>
			<div class="panel-footer text-center">
				<ul class="pagination pagination-sm">
					<li class="active"><a href="/tasks/1">1</a></li>
					<li ><a href="/tasks/2">2</a></li>
					<li><a href="/tasks/2"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
