<h1 class="page-header">{{title}}</h1>

<div id="container" class="row">
	
	<div class="alert alert-info" role="alert">
		<span class="ion-ios7-analytics-outline"></span>
	</div>
	
	<h4>Little Ken`s random inquiries</h4>
	
	<div class="highlight">
		<pre>
			<code class="json">
			</code>
		</pre>
	</div>

</div>