<ul class="nav nav-sidebar">
	<li class="active"><a href="#">Overview</a></li>
	<!--<li><a href="#">Statistics</a></li>-->
</ul>
<ul class="nav nav-sidebar">
	<!--<li><a href="#accounts"><strong>Accounts</strong> Overview</a></li>-->
	<!--<li><a href="#accounts/plans"><strong>Account</strong> Plans</a></li>-->
</ul>					
<ul class="nav nav-sidebar">
	<!--<li><a href=""><strong>Users</strong> Overview</a></li>-->
	<!--<li><a href=""><strong>User</strong> Roles</a></li>-->
</ul>	
<ul class="nav nav-sidebar">
	<!--<li><a href=""><strong>Apps</strong> Registrations</a></li>-->
</ul>			
<ul class="nav nav-sidebar">
	<!--<li><a href="#performance/little"><strong>Performance</strong> Little Ken</a></li>-->
</ul>					
<ul class="nav nav-sidebar">
	<!--<li><a href=""><strong>Performance</strong> Statistics</a></li>-->
	<!--<li><a href=""><strong>Performance</strong> Servers</a></li>-->
	<li><a href="#performance/logs"><strong>Scheduler</strong> Performance</a></li>
	<li><a href="http://api.cloudwalkers.be/gearman/index.php?action=queue"><strong>Scheduler</strong> Gearman</a></li>
	<li><a href="#performance/logs-dev"><strong>Scheduler</strong> Dev Performance</a></li>
	<li><a href="http://devapi.cloudwalkers.be/gearman/index.php?action=queue"><strong>Scheduler</strong> Dev Gearman</a></li>
</ul>