<div class="panel panel-default">
	{{#title}}
	<div class="panel-heading">
		<h3 class="panel-title">{{title}}</h3>
	</div>
	{{/title}}
	<div class="panel-body">
		
		{{#label}}
			<span class="label label-{{labelstyle}}{{^labelstyle}}default{{/labelstyle}} pull-right">{{label}}</span>
		{{/label}}
		
		{{description}}
	</div>
</div>