/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body.dashboard	{ padding-top: 50px; }


/*
* Global add-ons
*/

.dashboard .sub-header {
	padding-bottom: 10px; border-bottom: 1px solid #eee;
}

/*
* Top navigation
* Hide default border to remove 1px line.
*/
.dashboard .navbar-fixed-top	{ border: 0; }
.navbar-fixed-top img.cid	{
	height: 90%; margin-top: -2px;
}

.navbar-fixed-top .profile-avatar	{
	width: 36px; height: 36px; padding: 2px 5px; margin: 6px 10px 0; background: center no-repeat #333; background-size: 100%; border-radius: 20px;
	color: rgba(0,0,0,0); font-size: 32px; line-height: 0em;
}

.profile-avatar a	{ color: inherit; }

.profile-avatar:hover	{
	background-size: 0%; background-color: white;
	color: #222;
}

/*
* Sidebar
*/

/* Hide for mobile, show later */
.dashboard .sidebar	{ display: none; }

@media (min-width: 768px) {
	.dashboard .sidebar	{
		position: fixed; top: 51px; bottom: 0; left: 0; z-index: 1000; display: block; padding: 20px; overflow-x: hidden; overflow-y: auto; background-color: #f5f5f5; border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.dashboard .nav-sidebar	{
	margin-right: -21px; margin-bottom: 12px; margin-left: -20px;
}
.dashboard .nav-sidebar > li > a	{ padding: 8px 20px; }
.dashboard .nav-sidebar > .active > a,
.dashboard .nav-sidebar > .active > a:hover,
.dashboard .nav-sidebar > .active > a:focus	{
	color: #fff; background-color: #428bca;
}


/*
* Main content
*/

.dashboard .main	{ padding: 20px; }
.dashboard .main .page-header	{ margin-top: 0; }

@media (min-width: 768px)	{
	.dashboard .main	{
		padding-right: 40px; padding-left: 40px;
	}
}

/*
* Placeholder dashboard ideas
*/

.dashboard .placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.dashboard .placeholders h4	{ margin-bottom: 0; }
.dashboard .placeholder	{ margin-bottom: 20px; }
.dashboard .placeholder img	{
	display: inline-block; border-radius: 50%;
}
