<div class="container">
    <div>
        <div class="page-header">
            <h1>Accounts list</h1>
        </div>

        <ol class="breadcrumb">
            <li><a href="/#/">Home</a></li>
            <li><a href="/#/accounts">Accounts</a></li>
            <li class="active">List</li>
        </ol>

        <div class="panel panel-default">
            <div class="panel-heading text-right">
                <a class="btn btn-success btn-sm" href="/#/accounts/add" role="button"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp;New account</a>
            </div>
            <div class="panel-body">
                <div class="table-responsive" id="items"><div clas="text-center"><small>Loading data, please wait...</small></div></div>
            </div>
            <div class="panel-footer text-center">
                <!--<ul class="pagination pagination-sm">
                    <li class="active"><a href="/#/accounts/1">1</a></li>
                    <li ><a href="/#/accounts/2">2</a></li>
                    <li><a href="/#/accounts/2"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                </ul>-->
            </div>
        </div>
    </div>
</div>
